<div class="row nested-fields">
  <div class="form-group">
    <%= f.label :material_name, "資材名",class: "font-weight-bold" %>
    <%= f.text_field :material_name %>
    <%= f.hidden_field :order_status, value: false %>
    <%= f.hidden_field :order_date %>
    <%= f.hidden_field :id %>
  </div>

  <div class="form-group ml-3">
      <%= link_to_remove_association "削除", f , class:"btn btn-outline-secondary" %>
  </div>
</div>