<div class="container">
  <div class="row">
    <div class="mx-auto mt-3">
      <h2>物件一覧</h2>
    </div>
  </div>
</div>

<div class="container">
    <div class="text-right">
      <%= form_with url: search_owners_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
</div>

<div class="container">
  <div class="text-left mb-1">
    <%= link_to "物件追加", new_owner_path, class: "btn btn-outline-secondary" %>
  </div>
</div>

<div class="container">
  <div class="mx-auto text-center">
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th>物件名</th>
          <th>顧客名</th>
        </tr>
      </thead>
      <tbody>
        <% @owners.each do |owner| %>
        <tr>
          <td>
          <%= link_to owner_path(owner.id) do %>
              <%= owner.name %>
            <% end %>
          </td>
          <td>
            <%= link_to client_path(owner.client_id) do %>
              <%= owner.client.name %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <%= paginate @owners %>
    </div>
  </div>
</div>
