<div class="container">
  <div class="row">
    <div class="mx-auto mt-3">
      <h2>物件追加画面</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <%= form_with model: @owner, local: true do |f| %>
      <%= f.fields_for :materials do |m| %>
      <div>
        <div class="form-group">
          <%= f.label :name, "物件名", class: "font-weight-bold" %>
          <%= f.text_field :name %>
        </div>
        <div class="row form-group">
          <div class="font-weight-bold ml-3">顧客名</div>
          <div class="ml-1">
            <%= f.collection_select(:client_id, @clients, :id, :name) %>
          </div>
          
        </div>
        <div class="form-group">
          <%= f.label :material_name, "資材名", class: "font-weight-bold" %>
          <%= render 'material_new_fields', f: m %>
          <div class="links">
            <%= link_to_add_association "追加", f, :materials, class: "btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
      <div>
        <%= f.submit "新規登録", class: "btn btn-outline-secondary" %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

</div>

