<div class="container">
  <div class="row">
    <h2><%= @owner.name %>様</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div>
      <%= link_to "見積もり一覧へ", quotation_path, class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <div>
      <%= form_with model: @owner, local: true do |f| %>
      <table>
        <thead>
          <tr>
            <% @materials.each do |material| %>
              <th><%= material.material_name %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @materials.each do |material| %>
            <td>
              <%= f.radio_button :order_status, "true" %>発注済み
              <%= f.radio_button :order_status, "false" %>未発注
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
       <%= f.submit "更新", class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>