<div class="container">
  <div class="row">
    <h2><%= @owner.name %>様</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div>
      <%= link_to "見積もり一覧へ", quotations_index_path(@owner), class: "btn btn-success" %>
    </div>

  </div>

  <div class="row">
    <div>発注状況一覧</div>
  </div>

  <div class="row">
    <div>
      <table>
        <thead>
          <tr>
            <th>資材名</th>
            <th>発注状況</th>
            <th>発注予定日</th>
          </tr>
        </thead>
        <tbody>
          <% @materials.each do |material| %>
          <tr>
            <td>
              <%= material.material_name %>
            </td>
            <td>
              <% if material.order_status == false %>
                <div>未発注</div>
              <% else %>
                <div>発注済み</div>
              <% end %>
            </td>
            <td>
              <%= material.order_date %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
  <div>
    <%= link_to "編集", edit_owner_path(@owner), class: "btn btn-outline-secondary" %>
  </div>
</div>