<div class="container">
  <div class="row">
    <h2 class="mx-auto">マイページ編集画面</h2>
  </div>

  <div class="row">
    <div class="mx-auto">
      <%= form_with model: @user do |f| %>
      <table class="mx-auto">
        <tr>
          <th>画像</th>
          <td>
            <%= f.attachment_field :profile_image %>
          </td>
        </tr>
        <tr>
          <th>氏名</th>
          <td>
            <%= f.text_field :name %>
          </td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td>
            <%= f.text_field :email %>
          </td>
        </tr>
        <tr>
          <th>役職名</th>
          <td>
            <%= f.text_field :director %>
          </td>
        </tr>
        <tr>
          <th>社用携帯番号</th>
          <td>
            <%= f.text_field :telephon_number %>
          </td>
        </tr>
      </table>
      <div class="text-center">
        <%= f.submit "変更", class: "btn btn-outline-secondary" %>
        <%= link_to "退会", confirm_unsubscribe_path(@user), class: "btn btn-danger" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
