<div class="container">
  <div class="row">
    <h3>マイページ</h3>
  </div>
  <div>
    登録情報
    <% if @user == current_user %>
      <%= link_to "編集", edit_user_path(@user), class: "btn btn-outline-secondary m-2 ml-auto" %>
    <% end %>
  </div>
  <div class="row">
    <%= attachment_image_tag(@user, :profile_image_id, :fill, 100, 100, fallback: "no_image.jpg")%>
  </div>
    <table>
      <tr>
        <th>氏名</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>役職名</th>
        <td><%= @user.director %></td>
      </tr>
      <tr>
        <th>社用携帯番号</th>
        <td><%= @user.telephon_number %></td>
      </tr>
      <tr>
        <td>
          <% if current_user != @user %>
            <%= link_to 'チャット画面へ', chat_path(@user.id) %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <%= link_to "ユーザー一覧", users_path, class: "btn btn-success" %>
  </div>
</div>
