<div class="container">
  <div class="row">
    <% if @user == current_user %>
      <h2 class="mx-auto">マイページ</h2>
    <% else %>
      <h2 class="mx-auto">ユーザー詳細ページ</h2>
    <% end %>
  </div>
  <div class="text-right">
    <% if @user == current_user %>
      <%= link_to "編集", edit_user_path(@user), class: "btn btn-outline-secondary" %>
    <% end %>
  </div>

  <div class="row">
    <div class="mx-auto">
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", format: 'jpeg' %>
    </div>
  </div>
  <div class="row">
    <table class="mx-auto mt-">
      <tr>
        <th class="">氏名</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>役職名</th>
        <td><%= @user.director %></td>
      </tr>
      <tr>
        <th>社用携帯番号</th>
        <td><%= @user.telephon_number %></td>
      </tr>
      <tr>
        <td>
          <% if current_user != @user %>
            <%= link_to 'チャット画面へ', rooms_path(user_id: @user), method: :post, class: "btn btn-outline-secondary" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="text-right">
    <%= link_to "社員一覧", users_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
