<div class="conatiner">
  <div class="row">
    <div class="mx-auto mt-3">
      <h2>パスワードを忘れてしまった場合・・・</h2>
    </div>
  </div>
</div>

<div clas="container">
  <div class="row">
    <div class="mx-auto">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions mt-3">
          <%= f.submit "パスワード再発行のためのメール送信" %>
        </div>
      <% end %>

        <div class="box-newusr mt-3">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>
