<div class="container">
  <div class="row">
    <div class="mx-auto mt-3">
      <h2><%= @client.name %>様</h2>
    </div>
  </div>
</div>

<div class="container">

    <div class="text-right">
      <%= link_to "顧客編集", edit_client_path, class: "btn btn-outline-secondary" %>
    </div>

</div>

<div class="container">
  <div class="mx-auto text-center">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>物件一覧</th>
        </tr>
      </thead>
      <tbody>
        <% @owners.each do |owner| %>
        <tr>
          <td>
            <%= link_to owner_path(owner) do %>
            <%= owner.name %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <%= paginate @owners %>
    </div>
  </div>
</div>

