<div class="container">
  <div class="row">
    <h2>資材名一覧</h2>
  </div>

  <div class="row">
    <div>
      <%= form_with model: @material, local: true do |f| %>
      <table>
        <tbody>
          <tr>
            <td>資材名</td>
            <td><%= f.text_field :material_name, placeholder: "資材名を入力" %></td>
            <td><%= f.submit "新規登録", class: "btn btn-outline-secondary" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div>
      <table>
        <thead>
          <tr>
            <th>資材</th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @materials.each do |material| %>
          <tr>
            <td><%= material.material_name %></td>
            <td><%= link_to "編集する", edit_material_path(material.id) , class: "btn btn-outline-secondary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <%= paginate @materials %>
  </div>
</div>
