<!DOCTYPE html>
<html>
  <head>
    <title>Bukkenkun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/*******.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー部-->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="text-middle">
            <% if user_signed_in? %>
              <%= current_user.name %>さんログイン中
            <% end %>

          </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item mr-3"><%= link_to "ホーム", root_path, class: 'btn btn-outline-secondary' %></li>
                <li class="nav-item mr-3"><%= link_to "マイページ", user_path(current_user), class: 'btn btn-outline-secondary' %></li>
                <li class="nav-item mr-3"><%= link_to "チャット", chats_path, class: 'btn btn-outline-secondary' %></li>
                <li class="nav-item mr-3"><%= link_to "顧客", clients_path, class: 'btn btn-outline-secondary' %></li>
                <li class="nav-item mr-3"><%= link_to "物件", owners_path, class: 'btn btn-outline-secondary' %></li>
                <li class="nav-item mr-3"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--ボディー部-->
    <%= yield %>
  </body>
</html>
